/* License: CC0 */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: "Fira Sans", sans-serif ;
  color: #333333 ;
}

main, footer {
  line-height: 1.4;
  margin: auto;
  max-width: 40rem;
  text-align: left;
  width: 93%;
  word-wrap: break-word;
}

footer { font-size: 80%; }

nav#site_navigation {
    font-size: 80%;
    /* See http://stackoverflow.com/a/324553 ; this ensures that the
     navigation links (left side) and search bar (right side) play
     nicely */
    overflow: hidden;
}

div#toc {
    font-size: 80%;
}

dl#yaml_header_data {
    font-size: 80%;
}

h1 { text-transform: uppercase; }
h2 { border-bottom: 1px solid #ccc; }
h1, h2, h3, h4, h5, h6 { 
  font-family: "fira sans", sans-serif ;
  font-size: 120%;
  font-weight: normal;
}

a { color: BlueViolet; text-decoration: none; }
a:visited { color: #b58900; }
a:hover, a:active { text-decoration:underline; }
a.anchorjs-link:hover, a.anchorjs-link:active { text-decoration: none; }

blockquote {
    border-left: 0.25em solid #ccc;
    margin: 0px;
    padding-left: 1.5em;
}

code {
    font-family: "Inconsolata",monospace;
    color: #586e75;
    background-color: #f6f6f6;
    padding-left: 0.1em;
    padding-right: 0.1em;
    word-wrap: normal;
    border-radius: 0.2em;
}

pre code {
    display: block;
    line-height: 1.2;
    max-height: 400px;
    overflow: auto;
    padding: 0.5em;
}

pre {
    font-family: inherit;
    line-height: 1.4;
}

table {
    border-bottom: 2px solid #333;
    border-collapse: collapse;
    border-top: 2px solid #333;
    margin: 0px auto; /* center table */
}

table th {
    border-bottom: 1px solid #333;
    font-weight: normal;
    padding: 0px 10px;
    vertical-align: top;
}

table td {
    padding: 0px 10px;
    vertical-align: top;
}

li {
  margin-top: 0.3em;
  margin-bottom: 0.3em; 
}

@media screen and (max-width: 40rem) {
    html { 
      font-size: 80%; 
    }
    main { 
      padding-left: 5px ;
      padding-right: 5px ;
    }
    body { 
      padding: 0px; 
    }
}
