
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

<footer>
<p  xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a>
  <br>
  To the extent possible under law,
    <span property="dct:title">Colton Grainger</span>
  waives all copyright and related or neighboring rights to content posted on 
  <span property="dct:title">this page</span>.
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="coltongrainger.com">
  United States</span>. See the <a href="https://creativecommons.org/publicdomain/zero/1.0/"> CC0 1.0 Universal Public Domain Dedication</a> for more information.
</p>
</footer>
</div>
</body>
</html>