<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108889969-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-108889969-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  <link rel="icon" 
    type="image/png" 
    href="{{ site.baseurl }}/images/favicon.png">
  {% include mathjax.html %}
  <script src="/assets/js/anchor.min.js"></script>
  <style type="text/css">
    {% include default.css %}
  </style>
</head>
<body>

  <header style="font-size: 80%">
      {% assign sorted_pages = site.html_pages | sort:"order" %} 
      {% for p in sorted_pages %}
      <a 
        {% if p.url == page.url %} 
          style="font-weight:bold" 
        {% endif %} 
          href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a> | 
      {% endfor %}
      <a href="https://github.com/coltongrainger/coltongrainger.github.io">source</a></p>
  </header>
