{% include head.html %}

<div class="wrapper">
  <header>
    <div align = "right">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>
        Episcopal Service Corps Fellow.<br>
        Clerk in Refugee Medical Care.<br>
        Aspiring Mathematician.<br><br>

        <a href="mailto:coltoncgrainger@gmail.com">coltoncgrainger@gmail.com</a><br>
        Twitter: <a href="https://twitter.com/coltongrainger">@ColtonGrainger</a><br>

        {% assign sorted_pages = site.pages | sort:"order" %} 
        {% for p in sorted_pages %}
          <a 
            {% if p.url == page.url %} 
              style="font-weight:bold; font-size:20px" 
            {% endif %} 
              style="font-size:20px" 
              href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a><br>
        {% endfor %}
      </p>
    </div>
  </header>
  <section>

  {{ content }}

  </section>
  <footer>
    <div align = "right">
      <p>hosted on <a href="{{ site.github.owner_url }}">GitHub</a></p>
    </div>
  </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

{% include head.html %}
