{% include head.html %}
  <main>

  <h1> {{ page.title }} </h1>
  <p> 
  	{% if page.date != nil %}
  	created: <i>{{ page.date | date: "%Y-%m-%d" }}</i>;
  	{% endif %}
 
  	{% if page.modified != nil %}
   	modified: <i>{{ page.modified }}</i>;
  	{% endif %}

  	{% if page.belief != nil %}
   	belief: <a href = "https://www.gwern.net/About#confidence-tags"><i>{{ page.belief }}</i></a>;
  	{% endif %}

  	{% if page.status != nil %}
   	status: <i>{{ page.status }}</i>;
  	{% endif %}
    
  {% if page.tags != nil %}
    tagged: 
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/wiki#{{ tag_name }}"><nobr><i>{{ tag_name }}</i></nobr></a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    {% endif %}
  </p>
  
  {{ content }}

  </main>

{% include foot.html %}
